@charset "UTF-8";
/* css 註解 */ /* ----- 文字設定 ----- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/nevermind.min.css");
.h1-style {
  font-family: "NeverMind", "Noto Sans TC";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  color: var(--clr-color);
}

.h2-style {
  font-family: "NeverMind", "Noto Sans TC";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-align: inherit;
  color: var(--clr-color);
}

.h3-style {
  font-family: "NeverMind", "Noto Sans TC";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-align: inherit;
  color: var(--clr-color);
}

.h4-style {
  font-family: "NeverMind", "Noto Sans TC";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-align: inherit;
  color: var(--clr-color);
}

.p-style {
  font-family: "NeverMind", "Noto Sans TC";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  text-align: justify;
  color: var(--clr-color);
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* ----- 顏色設定 ----- */
.clr-gray333 {
  --clr-color:#333;
  --clr-fill: #333;
}

.clr-gray666 {
  --clr-color:#666;
  --clr-fill: #666;
}

.clr-gray80 {
  --clr-color:#808080;
  --clr-fill: #808080;
}

.clr-white {
  --clr-color:#fff;
  --clr-fill: #fff;
}

.clr-teal {
  --clr-color:#00ADBB;
  --clr-fill: #00ADBB;
}

.clr-teal60 {
  --clr-color:#66CED6;
  --clr-fill: #66CED6;
}

.clr-teal30 {
  --clr-color:#B3E6EB;
  --clr-fill: #B3E6EB;
}

.bgd--white {
  --bgd-color: #fff;
}

.bgd-F6F8FB {
  --bgd-color: #F6F8FB;
}

.bgd-E6E6E6 {
  --bgd-color: #E6E6E6;
}

/* ----- hvr 效果設定 ----- */
.hvr-gray333 {
  --hvr-color: #333;
  --hvr-fill: #333;
}

.hvr-grayE6 {
  --hvr-color: #E6E6E6;
  --hvr-fill: #E6E6E6;
}

.hvr-grayF6F8FB {
  --hvr-color: #F6F8FB;
  --hvr-fill: #F6F8FB;
}

.hvr-white {
  --hvr-color: #fff;
  --hvr-fill: #fff;
}

.hvr-teal {
  --hvr-color: #00ADBB;
  --hvr-fill: #00ADBB;
}

.hvr-teal60 {
  --hvr-color: #66CED6;
  --hvr-fill: #66CED6;
}

.hvr-teal30 {
  --hvr-color: #B3E6EB;
  --hvr-fill: #B3E6EB;
}

.hvr-none {
  --hvr-color: none;
  --hvr-fill: none;
}

.hvr-bgd-white {
  --hvr-bgd-color: #fff;
}

.hvr-bgd-F6F8FB {
  --hvr-bgd-color: #F6F8FB;
}

.hvr-bgd-E6E6E6 {
  --hvr-bgd-color: #E6E6E6;
}

.hvr-op06 {
  --hvr-opacity: 0.6;
}

.hvr-bri095 {
  --hvr-bri: brightness(.95);
}

.hvr-1s {
  --hvr-transition: 1s;
}

.hvr-05s {
  --hvr-transition: 0.5s;
}

.hvr-03s {
  --hvr-transition: 0.3s;
}

.hvr-015s {
  --hvr-transition: 0.15s;
}

.hvr-scale11 {
  --hvr-scale: scale(1.1);
}

.hvr-scale12 {
  --hvr-scale: scale(1.2);
}

.hvr-pointer {
  cursor: pointer;
}

body {
  margin: 10px 20px 5px 4px;
  padding: 0;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-family: "微軟正黑體";
}

.wrapper {
  width: 100%;
  background-color: cadetblue;
}
.wrapper h1 {
  font-size: 36px;
}
.wrapper nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper nav .logo {
  width: 150px;
  height: 50px;
  background-color: cornflowerblue;
}
.wrapper nav .logo p {
  color: #fff;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.wrapper nav ul {
  list-style: none;
  display: flex;
}
.wrapper nav ul li {
  padding: 10px 20px;
  background-color: aquamarine;
}
.wrapper nav ul li:first-child {
  font-weight: 900;
}
.wrapper nav ul li:last-child {
  color: orange;
}
.wrapper nav ul li:last-child:hover::after {
  content: "123";
}
.wrapper nav ul li:nth-child(3) {
  border: 1px dashed #333;
}
.wrapper nav ul li:nth-child(3) a {
  display: block;
  background-color: chartreuse;
}
.wrapper nav ul li:nth-child(3) a:hover {
  position: relative;
  bottom: 5px;
}
.wrapper nav ul li a {
  text-decoration: none;
}
.wrapper nav ul li a:hover {
  color: blue;
}
.wrapper nav ul li a::before {
  content: "";
}
.wrapper nav ul li a::after {
  content: "";
}

.index h1 {
  color: blue;
}

.about h1 {
  color: darkorange;
}

.b {
  margin: 10px;
}

div {
  margin: 10px;
}

.a {
  font-size: 20px;
}

.icon {
  background-image: url("icon1.jpg");
}

.top {
  margin: 10px;
  margin-top: 20px;
}

.box {
  width: 20px;
  height: 80px;
  margin: 100px;
  font: 4px;
}

.wrapper-full {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  min-width: 150px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease;
  border: 1px solid #333;
  background-color: #e2e2e2;
}
.btn:hover {
  background-color: #969696;
}

.box-1 {
  width: 200px;
  margin: auto 0;
  border: 1px solid #333;
  border-radius: 10px;
  height: 100px;
  background-color: #eee;
  height: 100px;
  margin: 0 auto;
}
@media all and (max-width: 720) {
  .box-1 {
    width: 100%;
  }
}

.box-2 {
  width: 136px;
  margin: auto 0;
  border: 1px solid #333;
  border-radius: 10px;
  height: 100px;
  background-color: #f20;
  height: 100px;
  margin: 0 auto;
}
@media all and (max-width: 720) {
  .box-2 {
    width: 100%;
    margin: auto 0;
    border: 1px solid #333;
    border-radius: 10px;
    height: 100px;
  }
}

.box-3 {
  width: #f20;
  margin: auto 0;
  border: 1px solid #333;
  border-radius: 10px;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

.box-1 {
  position: relative;
  left: 1px;
}

.box-2 {
  position: relative;
  left: 2px;
}

.box-3 {
  position: relative;
  left: 3px;
}

.box-4 {
  position: relative;
  left: 4px;
}

.box-5 {
  position: relative;
  left: 5px;
}

.box-6 {
  position: relative;
  left: 6px;
}

.box-7 {
  position: relative;
  left: 7px;
}

.box-8 {
  position: relative;
  left: 8px;
}

.box-9 {
  position: relative;
  left: 9px;
}

.box-10 {
  position: relative;
  left: 10px;
}

.push-1 {
  position: relative;
  left: 1px;
}

.push-2 {
  position: relative;
  left: 2px;
}

.push-3 {
  position: relative;
  left: 3px;
}

.push-4 {
  position: relative;
  left: 4px;
}

.push-5 {
  position: relative;
  left: 5px;
}

.push-6 {
  position: relative;
  left: 6px;
}

.push-7 {
  position: relative;
  left: 7px;
}

.push-8 {
  position: relative;
  left: 8px;
}

.push-9 {
  position: relative;
  left: 9px;
}

.push-10 {
  position: relative;
  left: 10px;
}

/*# sourceMappingURL=style.css.map */
