@mixin border($borderColor, $borderRadius) {
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
}

// $w: 1200px;
@mixin boxcenter($w, $top:0px){
    width: $w;
    margin: auto 0;
    // border-radius: 10px
    @include border(#333, 10px);
    height: 100px;
}

@mixin layout($w) {
    @if $w == 'full'{
        width: 100%;
    }@else{
        width: $w + px;
        margin: 0 auto;
    }
}

@mixin m(){
    @media all and (max-width: 720) {
        @content;
    }
}

@mixin grid($num , $s: null) {
    @for $i from 1 through $num {
        .col#{$s}-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}

// 標題
@mixin title($title , $color: null) {

    @each $k ,
    $v in $title {
        #{$k} {
            font-size: $v;
            color: $color;
        }
    }
}

// color 
@mixin color($colors) {

    @each $k ,
    $v in $colors {
        .text-#{$k} {
            color: $v;
        }

        .bg-#{$k} {
            background-color: $v;
        }

        .border-#{$k} {
            border: $v;
        }
    }
}

// btn
$btn : (

);

@each $k ,$v in $btn {
    .btn-#{$k} {
        max-width: 300px;
        padding: 10px 20px;
        background-color: $v;
        text-align: center;
    }
}